/* reset */
html {
  font: 100%/1.5 'Avenir Next', 'Hiragino Sans', sans-serif;
  line-height: 1.7;
  letter-spacing: 1px;
}

ul, li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: #2d3133;
  font-size: 14px;
}

h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

input {
  background-color: transparent;
  outline-width: 0;
}

form input[type="submit"] {
  border: none;
  cursor: pointer;
}

/* all */
body {
    text-align:center;
    margin:0;
}

/* top */
.top{
   padding-top:100px;
   padding-bottom:100px;
   background-image:url("/books.jpg");
}

.message {
  color:#fff;
  font-size:40px;
  text-shadow:1px 2px 3px #808080;
}

.message p{
  color:#fff;
  font-size:30px;
  text-shadow:1px 2px 3px #808080;
}


/* header　　*/
header{
  background-color:rgba(0,0,0,0.9);
  padding:20px 0;
  width:100%;
  position:fixed;
  z-index:10;
  line-height:30px;
  top:0;
  color:#fff;
}

.header-left a{
  float:left;
  font-size:30px;
  font-weight:bold;
  padding:0 30px;
  color:#fff;
}

.header-right {
  float:right;
  margin-right:20px;
}

.header-right li {
  float:left;
  padding:0 15px;
}
.header-right li  a {
  color:#fff;
  opacity: 0.6;
}
.header-right li  a:hover{
  opacity: 1.0
}

/* footer　*/
footer {
  padding:20px 0;
  background:#151515;
  width:100%;
  color:#fff;
  position:fixed;
  bottom:0;
}

/* users　*/
.user-show {
  padding-top:100px;
}

/* users/signup  users/login_form */

.user-form  input{
  margin-bottom: 20px;
  padding:10px 0;
  width:40%;
}

.user-submit {
  margin-top:40px;
  padding:20px 40px;
  background-color:#3300CC;
  color:#fff;
  font-size:17px;
  box-shadow: 1px 3px #333399;
}

.user-form  {
  margin-top: 50px;
}

/*  books */
.books-form {
  padding-top:100px;
  padding-bottom:200px;
  padding-left:30px;
}

/* books/index  */
.book-table {
  border:solid 2px #000;
}

.book-table td {
  border:solid 1px #000;
  padding:30px;
}

.book-table th {
  border:solid 1px #000;
}

.book-table th{/*thに対して*/
  color: #FF9800;/*文字色*/
  background: #fff5e5;/*背景色*/
}

.book-search {
  width:80%;
}







